<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitron" >

    <application
        android:name="com.example.digitron.DigitronApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Digitron"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Digitron" >
        <activity
            android:name="com.example.digitron.activities.ShoppingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.digitron.activities.LoginRegisterActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>